body {
	background-color: rgb(247, 248, 249);
}

.search {
	background-color: white;
}
.search-main{
	height:100%;
	background-color: #FFFFFF;
}
.header {
	background-image: url('../images/header_bg.png');
	background-repeat: repeat;
	height: 95px;
}

.grayout {
	opacity: 0.4;
	/* Real browsers */
	filter: alpha(opacity=40);
	/* MSIE */
}

.center_div {
	/*margin: 0 auto;
	width: 100%;
	padding-left: 80px;
	padding-right: 80px;*/
	padding-left: 0px;
	padding-right: 0px;
}

.navbar {
	margin-bottom: 0px;
	border-bottom: 1.6px solid;
	border-bottom-color: rgb(0, 162, 232);
	border-radius: 0px;
}

#logo {
	font-family: BentonSans, Arial, sans-serif;
	font-size: 1.575em;
	color: #002263;
	line-height: 95px;
	padding-top: 2px;
}

/*li {
	float: left;
	display: block;
	padding-left: 40px;
	padding-right: 20px;
	line-height: 117px;
	font-family: BentonSans, Arial, sans-serif;
	font-size: 0.938em;
}*/

a {
	text-decoration: none !important;
}

ul {
	float: right;
}

#hero-container {
	background-position: center;
	background-image: url('../images/home-background.jpg');
	height: 374px;
	background-color: #dfdfdf;
	display: table;
	width: 100%;
}

#hero-container>div {
	display: table-cell;
	vertical-align: middle;
	float: none;
}

#hero-text {
	font-family: BentonSans Medium, Arial, sans-serif;
	font-size: 2.188em;
	color: #002263;
}

#form-area {
	display: table-cell;
	vertical-align: middle;
}

#input-label-alignment {
	padding-bottom: 20px;
    padding-top: 1px;
    padding-left: 42px;
    color: #002263;
    text-transform: inherit;
}

label {
	font-family: BentonSans Light, Arial, sans-serif;
	font-size: 2.375em;
	display: block;
	padding-bottom: 30px;
	padding-top: 30px;
}

#textSelectFLuid {
	font-family: BentonSans Light, Arial, sans-serif;
}

.stripes-bg {
	background-image: url('../images/header_bg-reverse.png');
	background-repeat: repeat;
	height: 117px;
}

input {
	font-family: BentonSans Light, Arial, sans-serif;
}

.search-input-form-control {
	padding-left: 12px;
}

button {
	font-size: 16px;
	font-family: BentonSans Light, Arial, sans-serif;
	padding: 9.75px;
	margin-left: 45px;
	font-weight:700;
}

a {
	color: #002263;
}

.nav-list {
	margin-right: 25px;
}
/*@media only screen and (min-width: 1304px) {*/
/*.search-cls {
	position: relative;
	margin-left:-35px;
	color: grey;
}*/
.search-form{
	width:26rem;
}
.example-class2 {
background-color: #e87d34;
height: 77px;
width: 77px;
color: white;
cursor: pointer;
float: right;
margin-top: 80px;
}
.example-class2 + .popover.top{
	background-color:white !important;
}
.search-cls {
	/*position: relative;
	margin-left:-35px;*/
	color: grey;
	top:67px !important;
}
/*}*/

.empty-message{
	font-family: BentonSans, Arial, sans-serif;
    font-size: 12px;
    padding-left: 6px;
}

button.disabled, .btn-primary.disabled.focus, .disabled.focus.btn, .btn-primary:disabled, .btn:disabled, button:disabled{
	background:#1274B8;
	color:#FFFFFF;
	cursor:text;
}

/*Report builder styles starts here */

.report-main {
	margin: 8px;
	/*border: 1px solid #ddd;
	border-radius: 2px;*/
	padding-bottom: 20px;
	background-color: #ffffff;
	/*box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);*/
	box-shadow: 6px 6px 8px rgba(146, 142, 142, 0.1);
	/*container height - navbar height*/
	/*height: calc(100% - 9em);
	
	max-height: 100%;
	overflow: auto;*/
}

.data-se1-name {
	font-size: 28px;
	font-family: BentonSans Light, Arial, sans-serif;
	color: rgb(95, 91, 91);
	font-weight: bold;
	text-align: left;
	padding-top: 20px;
}

h4 {
	font-size: 17px;
	font-family: BentonSans Light, Arial, sans-serif;
	color: rgb(95, 91, 91);
	font-weight: bold;
	text-align: left;
	padding-top: 20px;
	/*text-transform: initial;*/
}
h4.select-text{
	text-transform:inherit;
}
.small-font{
	font-size: 12px;
}

h4.business-name,
h4.export-num {
	margin-top: 0px;
    margin-left: 4px;
    padding-top: 0px;
    font-size: 14px;
    font-family: BentonSans Light, Arial, sans-serif;
    font-weight: bold;
    text-align: left;
    /* padding-top: 20px; */
    /* padding-bottom: 3px; */
    /* padding: 10px; */
    /* padding-bottom: 3px; */
    text-transform: inherit;
    color: rgb(95, 91, 91);
	white-space: nowrap;
}
h4.export-num {
	padding-top:6px;
	font-size: 15px;
}
#report-heading {
	text-transform: uppercase;
	font-size: 13px;
	padding-bottom: 16px;
	/*font-family: BentonSans Medium, Arial, sans-serif;*/
}

#textSelectFLuid {
	margin-left: 8px;
}

@media only screen and (max-width: 768px) {
	#textSelectFLuid {
		margin-bottom: 8px;
	}
}

@media only screen and (max-width: 1304px) {
	.back-btn{
		margin-bottom: 8px;
	}
	.hidden-select-trigger{
		margin-bottom:8px;
	}
}

.report-search-cls {
	/*position: absolute;
    right: initial;
    padding: 7px 259px;*/
	/* float: right; */
	margin-left: -31px;
	color: grey;
}

#report-business {
    font-size: 13px;
    text-align: right;
    text-transform: capitalize;
}

#report-market {
	font-size: 13px;
    text-align: right;
    text-transform: capitalize;
}

.right-export {
	font-family: "BentonSans Medium", Arial, sans-serif;
    font-size: 15px;
    text-align: right;
    padding-top: 5px;
	color: rgb(95, 91, 91);
}

.right-number {
	font-family: "BentonSans Medium", Arial, sans-serif;
    font-size: 15px;
    text-align: right;
    padding-top: 5px;
	color: rgb(95, 91, 91);
}
/*.back-btn{
	margin-left:20px;
}*/

div > .btn:first-of-type:not(:last-of-type):not(.btn-block), div > button:first-of-type:not(:last-of-type):not(.btn-block) {
    margin-right: 0.25rem;
}

#builder-cont-btn{
	margin-left:0px;
	padding-bottom:13px;
}
.continue-btn {
	margin-top: 27px;
}

.report-cards-build{
	margin-left: -24px;
    margin-right: -24px;
	margin-left:-10px;
	margin-right:-16px;
	margin-top:6px;
	cursor:move;
}
.report-cards {
	/*margin-top: 12px;
	padding-left: 5px;*/
	padding-right: 4px;
	height: 68px;
	opacity: 0;
}

.report-card-container {
	border: 1.6px solid #ddd;
    height: inherit;
}

.report-input-form-control,
.report-select-form-control {
	padding-left: 8px;
	font-size: 14px;
	font-family:"BentonSans Light", Arial, sans-serif 
}

.report-select-form-control {
	-webkit-appearance: menulist;
}

#textSelectFLuid {
	margin-left: 0px;
	margin-right: 8px;
	padding-right: 12em;
}


/*.form-control{
	margin-left: 7px;
}*/

.icons-col {
	padding-top: 20px;
	text-align: right;
	padding-right:20px;
}

.icon-one,
.icon-two,
.icon-three {
	padding-left: 8px;
}
span>i{
	cursor: pointer;
}

/*icon styles start here*/

.sprite {
	background-image: url('../images/spritesheet.png');
	background-repeat: no-repeat;
	/*display: block;*/
	display: inline-block;
}

.sprite-data-selected {
	width: 28px;
	height: 28px;
	background-position: -4px -5px;
}

.sprite-data-selected:hover {
	width: 28px;
	height: 28px;
	background-position: -41px -5px;
}

.sprite-data-unselected {
	width: 28px;
	height: 28px;
	background-position: -77px -5px;
}

.sprite-data-unselected:hover {
	width: 28px;
	height: 28px;
	background-position: -5px -41px;
}

.sprite-filter-enabled {
	width: 28px;
	height: 28px;
	background-position: -41px -41px;
}

.sprite-filter-enabled:hover {
	width: 28px;
	height: 28px;
	background-position: -77px -41px;
}

.sprite-filter-unused {
	width: 28px;
	height: 28px;
	background-position: -5px -77px;
}

.sprite-filter-unused:hover {
	width: 28px;
	height: 28px;
	background-position: -41px -77px;
}

.sprite-information {
	width: 28px;
	height: 28px;
	background-position: -77px -77px;
}

.sprite-information:hover {
	width: 28px;
	height: 28px;
	background-position: -113px -5px;
}

.sprite-mandatory-check {
	width: 28px;
	height: 28px;
	background-position: -113px -41px;
	-ms-background-position:-112px -41px;
}


/*report preview styles start here*/
.report-preview-header{
	padding-top:24px;
}
.report-preview-header > i{
	color:rgb(95, 91, 91);
}
.data-se2-name{
	font-size: 28px;
	font-family: BentonSans book, Arial, sans-serif;
	color: rgb(95, 91, 91);
	/*font-weight: bold;*/
	text-align: left;
	padding-top: 10px;
	padding-bottom: 22px;
}
.report-preview-backlink{
	color: #1068a5;
    cursor: pointer;
    padding-left: 1px;
    font-family: BentonSans book, Arial, sans-serif;
    font-size: 14px;
    margin-top: -11px;
    display: inline-block;
}

.report-pre-name {
	padding-top: 25px;
	margin-bottom: 12px;
}

.report-builder-btn-container{
	text-align: right;
}


/*.report-pre-search{
	padding-top: 20px;
    padding-left: 4px;
}*/

.report-prev-table {
	/*font-size: 14px;*/
	font-family: BentonSans Regular, Arial, sans-serif;
	font-weight: bold;
	text-align: left;
	margin-top: 20px;
	padding: 10px;
	text-transform: initial;
	color: rgb(95, 91, 91);
}

/*.report-table-header {
	background-color: rgb(237, 237, 237);
	font-size: 13px;
	font-family: BentonSans Regular, Arial, sans-serif;
}*/


/** OPTIMIZATION PAGE CSS **/

.table{
	    width: 98.5%;
		margin-left: 11px;
		font-size: 14px;
		color: rgb(95, 91, 91);
    	font-family: BentonSans Regular, Arial, sans-serif;
}
.table thead {
	background-color: rgb(237, 237, 237);
	/*font-size: 13px !important;*/
}

.table>thead:first-child>tr:first-child>th {
    border-top: 0;
    font-size: 13px;
}

.table>thead>tr>th {
	vertical-align: middle;
	border-bottom: 2px solid rgb(237, 237, 237);
	padding-top: 14px;
	padding-bottom: 14px;
	font-weight: bold;
}

.table>tbody>tr>td {
	border-top: 1px solid rgb(237, 237, 237);
	padding-top: 14px;
	padding-bottom: 14px;
	font-size: 14px;
}

.table>thead>tr>th:nth-child(1) {
	width: 40%;
}


/**
*	For select menu
*/

.hidden-select-trigger {
	font-family: BentonSans Medium, Arial, sans-serif;
	color: rgb(95, 91, 91);
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    text-align: left;
	background-color: #f7f8f9;
    /*padding: 7px 11px;*/
	padding: 16px 8px;
	padding-bottom: 18.2px;
    min-width: 200px;
    margin-top: 2px;
	margin-right: 3px;
	/*margin-left: -0.5px;*/
    padding-right: 36px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: none;
    cursor: pointer;
    position: relative;
}

.hidden-select-trigger {
    min-width: 250px;
}

    .hidden-select-trigger::after {
        font-family: FontAwesome;
        /*content: "\e252";*/
		content:"\f078";
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 11px;
        color: grey;
		    margin-top: 8px;
    }

        .hidden-select-trigger.select-open::after {
            /*content: "\e253";*/
        }

.hidden-select-menu {
	font-family: BentonSans, Arial, sans-serif;
	color: rgb(95, 91, 91);
    background-color: white;
    position: absolute;
    padding: 0 !important;
    box-sizing: border-box;
    height: auto !important;
    list-style: none;
    opacity: 0;
    z-index: -1;
    width:100% !important;
    right: 0px;
    top:70%;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: none;
    margin-top: 10px;
    -webkit-transition: 0.3s opacity, 0.3s top, 0.3s z-index;
    -moz-transition: 0.3s opacity, 0.3s top, 0.3s z-index;
    -ms-transition: 0.3s opacity, 0.3s top, 0.3s z-index;
    -o-transition: 0.3s opacity, 0.3s top, 0.3s z-index;
    transition: 0.3s opacity, 0.3s top, 0.3s z-index;
}

    .select-open .hidden-select-menu {
        opacity: 1;
        z-index: 5;
        top: 80%;
    }

    .hidden-select-menu li {
        padding: 17px 11px;
        -webkit-transition: 0.3s color, 0.3s background-color;
        -moz-transition: 0.3s color, 0.3s background-color;
        -ms-transition: 0.3s color, 0.3s background-color;
        -o-transition: 0.3s color, 0.3s background-color;
        transition: 0.3s color, 0.3s background-color;
    }

        .hidden-select-menu li:hover,
        .hidden-select-menu li.menu-active {
            background-color: #e6e6e6;
        }

/*Popup styling starts here*/

	.modal-title{
		color: white;
		padding-top:0px;
		text-transform:capitalize;
		}

	.modal-header{
		background-color: rgb(0,38,100);
	}
	.modal{
		text-align:center;
	}
	@media screen and (min-width: 768px) { 
		.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
		}
	}

	.modal-dialog {
		display: inline-block;
		text-align: left;
		vertical-align: middle;
	}

	.modal-body{
		font-family: BentonSans, Arial, sans-serif;
		color: rgb(95, 91, 91);
		text-transform: capitalize;
    	font-size: 14px;
		margin-left: 6px;
		/*margin-top: -8px;
    	margin-bottom: 12px;*/
	}

	.model-comp-text{
		margin-top: 10px;
		padding: 5px;
	}

	/*button .close{
		text-align: right;
		font-size:34px;
		opacity:1;
	}*/

	button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-size: 34px;
    opacity: 1;
    color: white;
    text-align: right;
}
	button.close:hover{
		color:white;
	}

	 .modal-form-input{
		 padding-left:6px;
		 padding-right:0px;
		 margin-bottom:8px;
		 width: 250px;
	 }
	 /*.modal-body{
		 margin-bottom:0px;
		 padding-bottom:0px;
	 }*/
	 .modal-body-text{
		 font-size: 16px;
		 text-transform: initial;
	 }

	@media (min-width: 768px){
		.modal-dialog {
    	width: 500px;
    	margin: 30px auto;
	    }
		
	}
	@media (max-width: 768px){
		.list-group-item{
			max-height: 93px !important;
			height: 93px !important;
			margin: 0px !important;
			margin-top:3px;
			margin-bottom:5px;
			padding: 0px;
		}
		.report-cards {
			padding-right: 4px;
			height: 93px !important;
		}
	}

	.list-group-item{
		max-height: 64px;
		height: 64px;
		margin: 0px;
		margin-top: 3px;
		margin-bottom: 5px;
		padding: 0px;
	}
	.r-c-row, .r-c-col{
		height:inherit;
	}
	.r-c-col{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 15px;
	}
	
	/*popover custome styles*/
	
	
	.popover{
		max-width:600px;
		line-height: 0.68571;
		border-radius: 3px;
		/*cursor: pointer;*/
	}
	
	.popover.top{
		background-color: rgb(62,62,63);
		color:white;
		font-size: 12px;
		top: 384.2px;
    	left: 716.638px;
	}
	/*.icon-three > .sprite-information + .popover.top{
		background-color:red !important;
	}*/

	.sprite-information + .popover.top{
		background-color: #FFFFFF !important;
	}
	.popover.top>.arrow:after{
   		border-top-color: rgb(62,62,63);
	}

	/*.popover-content {
    	padding: 3px 21px;
	}*/

	.popover.top>.arrow {
    	bottom: -10px;
	}

	.popover-title {
    padding: 2px 14px;
    font-size: 13px;
	color:white;
    background-color: rgb(62,62,63);
	border-bottom: 0;
	}

	#preview-sub-btn{
		margin-left:0px;
		margin-top: 26px;
	}
	.modal-body-element .modal-body{
		 margin-bottom:0px;
		 padding-bottom:0px;
	}



	/**
	* IE specific styles
	**/
	@media all and (-ms-high-contrast:none), (-ms-high-contrast: active)
	{
		
		.search-cls{
			top:-19px;
		}
		#txtName::-ms-clear {
			display: none;
		}

		#reportbuild::-ms-clear{
			display:none;
		}
		
		.sprite-mandatory-check {
			width: 28px;
			height: 28px;
			background-position: -112px -41px;
			
		}
		
		.sprite-filter-enabled{
			background-position:-40px -41px;
		}
		.sprite-filter-unused{
			background-position:-4px -77px;
		}
		.sprite-information{
			background-position:-76px -77px;
		}
		/*.sprite-data-unselected {
			background-position: -76px -5px;
		}*/
	}

	